@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Exo|Nunito');
$logo-color: #DEAE4A;
.logo {
    font-family: "Crimson Text";
    font-size: 3em;
    border: 5px ridge darken($logo-color, 10%);
    border-radius: .2em;
    display: inline-block;
    
    &:before {
        content: 'T';
        color: $logo-color;
        text-shadow: darken($logo-color, 30%) 1px 2px;
        padding: .35em;
    }
}