<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>BYU-Idaho - WDD 331 - Advanced CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../../css/prism-coy.css" />
    <link rel="stylesheet" href="../../css/course.css" />
  </head>

  <body>
    <div id="content">
      <header class="headerBanner">
        <div>
          <h1>Advanced CSS</h1>
          <h2>WDD 331</h2>
        </div>
      </header>
      <main>
        <h1>Layout: (Re)build a real site: part B</h1>

        <hr />
        <div class="callout">
          <p>
            Make sure that you have completed
            <a href="application-byui-a.html">the first part</a> of this
            activity!
          </p>
        </div>
        <h2>Activity</h2>
        <ol class="bigSteps">
          <li>
            <!-- BEGIN STEP -->
            <h3>Component Styling</h3>
            <p>
              In the first part you were asked to create the HTML to represent
              three components. Continue your work on this site by now styling
              those three components. Have a goal of keeping your SCSS markup as
              simple as possible, while focusing on re-use.
            </p>

            <!-- END STEP -->
          </li>

          <li>
            <!-- BEGIN STEP -->
            <h3>Mobile Layout</h3>
            <p>
              Once you have your components built and styled, write the rest of
              the CSS for the page to begin your styling for the mobile layout.
            </p>
            <p class="callout">
              As you are building and styling your page, it is ok to look at the
              existing page source to get ideas about how it was built. Resist
              the tempation to copy and paste anything from the actual page
              however. You will learn much more from this activity if you write
              all of the code yourself! You will probably also save time in the
              long run by writing your own code instead of trying how to get
              someone elses CSS code to work with your HTML.
            </p>

            <!-- END STEP -->
          </li>
          <li>
            <!-- BEGIN STEP -->
            <h5>Desktop Layout</h5>
            <p>
              Once you have the mobile layout done continue on to the desktop.
            </p>
            <div class="callout">
              <p>
                If the desktop layout is giving you troubles here is a
                <a href="../../images/byui-home-grid.jpg" target="_blank"
                  >screenshot of the grid for my version of this assignment</a
                >. AFTER you have tried to do it on your own feel free to look
                at how I setup my grid to accomodate the University Message box
                that is in different positions on mobile and desktop.
              </p>
            </div>

            <!-- END STEP -->
          </li>
          <li>
            <!-- BEGIN STEP -->
            <h3>Submit</h3>
            <p>Upload your HTML and SCSS (zip it up) to iLearn.</p>
            <!-- END STEP -->
          </li>
        </ol>
        <h2>Rubric</h2>
        <ul>
          <li>
            BYU-Idaho Home page re-created. (Everything but with the simplified
            navigation bar and no footer.)
          </li>
          <li>Site is styled with SCSS and is responsive.</li>
          <li>
            Attention paid to detail (Pixel perfect replication is not required
            here. It should be close but we don't have the time to make it
            exact.
          </li>
        </ul>
      </main>
      <!-- end #article -->
    </div>

    <script src="../../js/course.js"></script>
    <script src="../../js/prism.js"></script>
  </body>
</html>
