<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>BYU-Idaho - CIT 301b - Advanced CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../../css/course.css" />
  </head>
  <body>
    <div id="content">
      <header class="headerBanner">
        <div>
          <h1>Advanced CSS</h1>
          <h2>WDD 331</h2>
        </div>
      </header>
      <main>
        <h1>Building a Simple Component</h1>

        <hr />
        <div class="callout">
          <p>
            Now that you have seen one example of creating a simple HTML
            component, practice by creating another on your own.
          </p>
        </div>
        <h2>Activity</h2>
        <ol class="bigSteps">
          <li>
            <!-- Step Start -->
            <h3>Review the layout.</h3>
            <p>
              Below is a screenshot of the component we would like to build. It
              is a simple shopping cart. Review it considering how the HTML
              should be structured, and how you might layout the different
              elements.
            </p>
            <div class="fig-block">
              <figure>
                <img src="../../images/cart.png" alt="simple shopping cart" />
              </figure>
            </div>
            <!-- Step End -->
          </li>
          <li>
            <!-- Step Start -->
            <h3>Write the HTML</h3>
            <p>
              Create a new Codepen and write the HTML. Keep in mind semantics as
              you choose the elements to represent each part of the cart. Also
              keep in mind how you should structure things to make your layouts
              work. i.e. if you are using Flexbox or Grid do all of the right
              elements share a common parent?, etc. Add classes to your block
              and elements according to the BEM naming convention.
            </p>
            <!-- Step End -->
          </li>
          <li>
            <!-- Step Start -->
            <h3>Style</h3>
            <p>
              Add your CSS/SCSS now to replicate the screenshot as closely as
              possible. Pay attention to padding, margins, font-sizes,
              placement, etc. You can just use
              <kbd>helvetica, arial, san-serif</kbd> for the font.
            </p>
            <!-- Step End -->
          </li>
          <!-- <li>
            
            <h3>Submit in Ilearn</h3>
            <p>
              Submit the codepen url to Ilearn.
            </p>
            
          </li> -->
        </ol>
        <div class="rubric">
          <h2>Completion</h2>
          <ul>
            <li>Screenshot replicated closely in HTML and SCSS.</li>
            <li>Attention paid to semantics in HTML.</li>
          </ul>
        </div>
      </main>
      <!-- end #article -->
    </div>

    <script src="../js/course.js"></script>
  </body>
</html>
