<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>BYU-Idaho - WDD 331 - Advanced CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../../css/prism-coy.css" />
    <link rel="stylesheet" href="../../css/course.css" />
  </head>

  <body>
    <div id="content">
        <header class="headerBanner">
          <div>
            <h1>Advanced CSS</h1>
            <h2>WDD 331</h2>
          </div>
        </header>
        <main>
        <h1>Creating a card front layout</h1>

        <hr />
        <h2>CSS Layout</h2>
        <div class="callout">
          <p>
            We have seen many layout methods come and go for CSS. All of them
            have had their shortcomings. Picking a layout method has often felt
            like picking the lesser of many evils with CSS! The good news is
            that things are improving. Two recent additions to CSS are Flexbox
            and CSS Grid. CSS grid is
            <a href="http://caniuse.com/#search=grid" target="_blank"
              >just ready for widespread use</a
            >, provides a nice complement to
            <a href="http://caniuse.com/#search=flexbox" target="_blank"
              >flexbox</a
            >. Both together solve many long standing problems with other layout
            methods.
          </p>
          <p>
            Flexbox is ideally suited for layouts that flow either horizontally
            or vertically (which happens a lot with the current trends) and can
            simplify responsive design with the ease at which it can switch
            between those two flows.
          </p>
          <p>
            CSS Grid excels with two dimensional layouts...where both the X and
            the Y position of an element are critical.
          </p>
          <p>
            In this activity we will be
            creating a playing card front using CSS Grid. We are going to start with the 7
            of Clubs. (Actually...you could make a 7 of anything if you wanted.
            I once even made a
            <a href="../images/7-foxes.png" target="_blank">Seven of foxes</a>
            :) )
          </p>
        </div>

        <h3>Tips and Guidelines</h3>

        <ul>
          
          <li>
            Many versions of the 7 of clubs (and other cards) will have a kind
            of half row where the center pip is wedged in between 2 other rows.
            Don't worry about re-creating that. Go ahead and give each row of
            pips on the card a full row in your layout.
          </li>

          <li>
            Along those lines...don't stress about making your html card look
            <em>exactly</em> like whatever 7 of clubs you are looking at. As
            long as it looks good, is balanced, and has all the elements you
            will get credit.
          </li>
          <li>
            You can use either a css shape or svg for your suits. If you want to
            use svg I have an example file with the
            <a href="../resources/svg-card-suits.html" target="_blank"
              >svg suit shapes</a
            >
            in it to start with. If you haven't completed the module on Shapes or SVG you could always find an image to use for the pips as well.
          </li>

          <li>
            A playing card is a good example of a
            <a href="https://www.sitepoint.com/grid-theory/" target="_blank"
              >grid based layout</a
            >. In such layouts everything should fit in one or more defined
            columns. Sometimes in such layouts columns need to be skipped. In
            grid terminology a skip is called an offset. 
          </li>
        </ul>

       <h2>Using CSS Grid</h2>

        <ol class="bigSteps">
          <li>
            <!-- BEGIN STEP -->
            <h3>Create (or Fork) a pen</h3>
            <p>
              Create a new pen in codepen.io (or if you would rather you can
              fork
              <a href="https://codepen.io/matkat/pen/bwqgGz" target="_blank"
                >this starter card pen</a
              >
              and use it as a starting point). Make sure to change the css
              settings to use SCSS so you can take advantage of Sass. You should
              be able to use some of the classes you created for the Card Back
              assignment to create the general shape of the card. Continue by
              adding all the elements you will need next.
            </p>
            <div class="callout">
              <p>
                For example we are making the 7 of clubs which looks something
                like this:
              </p>
              <div class="fig-block">
                <figure>
                  <img
                    src="../../images/7-clubs.png"
                    alt="image of a 7 of clubs playing card"
                  />
                </figure>
              </div>
              <p>
                I would need a number 7 and small suit, then 7 regular sized
                suits, then another 7 and small suit. Notice that some of those
                icons are upside down! Try this class to make that happen:
              </p>
              <pre><code class="lang-css">
.rotate {
transform: rotate(180deg);
}			        
	</code></pre>
            </div>
            <!-- END STEP -->
          </li>
          <li>
            <!-- BEGIN STEP -->
            <h3>Create a Grid based layout for the Card</h3>
            <p>
              Create a CSS Grid based layout for your card. Your grid will work
              best if all of the pips on the card share a common parent. Grid is
              similar to Flexbox in that when you turn on grid for an
              element...it only effects the immediate children of that element.
            </p>
            <div class="callout">
              <p>
                Condensing the resources above on Grid gives us the following
                simplified list of steps: (This list is NOT a replacement for
                reviewing the resources above!)
              </p>
              <ol>
                <li>
                  Review your desired layout. Visualize (or just print and draw)
                  the grid lines for the layout to determine the number and
                  widths of columns and rows.
                </li>
                <li>
                  Identify the elements you need to position in your HTML (Grid
                  items or children)
                </li>
                <li>
                  Make sure they have a common parent...identify this. (Grid
                  container or parent)
                </li>
                <li>Turn on grid for that element (display: grid)</li>
                <li>Define your columns.</li>
                <li>Place the Grid items in your grid.</li>
                <li>Adjust grid columns as necessary</li>
                <li>Define specific Grid rows as necessary.</li>
                <li>Add Grid Gap as necessary.</li>
                <li>Adjust alignment as necessary.</li>
              </ol>
            </div>
           

        <h2>Grading</h2>
        <ul>
          <li>
            Card looks like a 7 of Clubs (or like a 7 of something). 
          </li>
          <li>
            Card layout uses CSS Grid. 
          </li>
        </ul>
    </main>
      <!-- end #article -->
    </div>

    <script src="../../js/course.js"></script>
    <script src="../../js/prism.js"></script>
  </body>
</html>
